.container {
	background-color: wheat;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
  }
  
  .homeContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  
  .logo {
	width: 50px;
	height: 50px;
  }
  
  .homeContainer:hover {
	cursor: pointer;
  }
  
  .findLink {
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  
  .findIcon {
	width: 50px;
	height: 50px;
  }
  
  .findLink:hover {
   text-decoration: none; 
   color:
  #add8e6; 
  }
  
  .linksContainer {
   display:
  flex; 
   flex-direction:
  row; 
  }
  
  .profileLink {
   display:
  flex; 
   flex-direction:
  row; 
   align-items:
  center; 
   margin-right:
  10px; 
  }
  
  .profileIcon {
   width:
  50px; 
   height:
  50px; 
  }
  
  .profileLink:hover {
   text-decoration:
  none; 
   color:
  #add8e6; 
  }
  
  .requestsLink {
   display:
  flex; 
   flex-direction:
  row; 
   align-items:
  center; 
  }
  
  .requestsIcon {
   width:
  50px; 
   height:
  50px; 
  }
  
  .requestsLink:hover {
   text-decoration:
  none; 
   color:
  #add8e6; 
  }
  
  .userContainer {
   display:
  flex; 
   flex-direction:
  row; 
   align-items:
  center; 
  }
  
  
  .logoutButton:hover {
   transform: scale(1.1);
  }
  
  .authContainer {
   display: flex;
   flex-direction: row;
   align-items: center;
  }
  
  .loginLink {
   margin-right: 10px;
  }
  
  .loginLink:hover {
   text-decoration: none;
   color: #add8e6;
  }

  .help {
    margin-right: 10px;
  }
  
  .signupLink:hover {
   text-decoration: none;
   color: #add8e6;
  }
  